<?php
ob_start();

// Start the session
session_start();
require_once('includes/mysqli_connect.php');
require_once('includes/interactions.php');
require_once('functions.php');
?>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>
	<?php 
		// Print the page title.
		if(defined('TITLE')){
			print TITLE;
		}
		else {
			print 'UCC CRMS';
		}
	?>
	</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/index.css" type="text/css" media="screen,projection" />
	<link rel="icon" type="image/ico" href="images/favicon.ico" />
</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
<script src="scripts/main.js"></script>

<div id="wrapper">
	<div id="header">
		<p class="description"></p>
		<h1><a href="index.php"><image src="images/UCClermontBanner.jpg" /></a></h1>

        <?php
            if(!isset($_SESSION['UserID'])) {
                print '<h1>Welcome to the UC Clermont CRMS.</h1>';
            }
            else {
                print '
                    <ul id="nav">
                    <li> </li>
                    <li><a href="index.php">Home</a></li>
                    <li><a href="business.php">Businesses</a></li>
                    <li><a href="employee.php">Employees</a></li>
                    <li><a href="user.php?Search=+">Users</a></li>
                    <li><a href="logout.php?">Logout</a></li>
                    </ul>';
            }
        ?>
	</div><!-- header -->
	
	<div id="sidebar">
		<h2>Navigation</h2>
			<p class="navigation">
			<ul>
			<li><a href="index.php">Home</a></li>
			<li><a href="business.php">Businesses</a></li>
			<li><a href="employee.php">Employees</a></li>
			<li><a href="user.php?Search=+">Users</a></li>
			<li><a href="logout.php?">Logout</a></li>
			</ul>
	</div><!-- sidebar -->

	<div id="content">
 		<!-- BEGIN CHANGEABLE CONTENT. -->
		<!-- Script 8.2 - header.html -->